html {
  background: url(../Images/cement_plaster_white.jpg) no-repeat center center fixed;
  background-size: cover;
}

header {
  /* padding: 20px; */
  /* margin-bottom: 40px; */
  background-color: #ffffff;
  /* text-align: center; */
}

h1 {
  margin-left: 4rem;
  margin-right: 56rem;
  padding: 30px;
  /* display: inline-block; */
  background-color: #59aaa5;
  color: #ffffff;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 600;
  text-align: center;
}

nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
  "Lucida Sans", Arial, sans-serif;
  font-size: 20px;
}

ul {
  list-style-type: none;
}
 
li {
  display: inline-block;
  margin-left: 25px;
}

/* .card {
  align-content: center;
} */

/* .btn-primary {
  background-color: #59aaa5;
} */
