html {
  background: url(../Images/cement_plaster_white.jpg) no-repeat center center
    fixed;
  background-size: cover;
}

header {
  margin-bottom: 20px;
  background-color: #ffffff;
}

/* nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
  "Lucida Sans", Arial, sans-serif;
  font-size: 20px;
} */

.navbar-light .navbar-brand {
  color: #ffff;
}
.navbar-brand {
  padding: 2rem;
  margin-left: 3rem;
  background-color: #59aaa5;
  color: #ffffff;
}

.navbar-nav {
  padding-right: 2rem;
}

.navbar {
  padding: 0 1rem;
}

body {
  /* margin-top: 40px; */
  background: url(../Images/cement_plaster_white.jpg) no-repeat center center
    fixed;
  background-size: cover;
  color: rgba(0, 0, 0, 0.5);
}

footer {
  margin-top: 20px;
  border-top: 5px;
  border-color: green;
  border-style: solid;
  background-color: rgb(102, 102, 102);
  color: #ffffff;
}

.card {
  align-content: center;
  margin: 15px;
  max-width: 500px;
}

.btn-primary {
  background-color: #59aaa5;
  border-color: #59aaa5;
}

.btn-primary:hover {
  color: #fff;
  background-color: #59aaa5;
  border-color: #59aaa5;
}
.btn:hover {
  color: #ffffff;
  text-decoration: none;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: rgb(102, 102, 102);
}

.float-left {
  float: left;
  margin-right: 25px;
}

.my-portfolio {
  margin: 1rem 1rem;
}
.my-col {
  margin: 10px;
}
